body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}
.header-page {
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.intro {
  background-color: #2e2f42;
}
.intro-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.list-features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-features-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-team-kind {
  background-color: #ffffff;
}
.member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-position {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-description {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-page {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.accent-logo {
  color: #4d5ae5;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}
.link-contacts {
  color: #434455;
}
.link-contacts:hover {
  color: #404bbf;
}
.link-contacts:focus {
  color: #404bbf;
}
